/* ************************************************************************ */
// Vendors, mixins & includes
/* ************************************************************************ */
// Vendor dependencies
@import "libs/normalize/import-now";          // Normalization for compatibility
@import "neat";                               // Neat responsive framework - this is built into Prepros :)

// Authored dependencies
@import "libs/vars";                          // Global vars & constants
@import "libs/breakpoints";                   // Breakpoint values for responsive
@import "libs/mixins";                        // Mixins and other handy goodies

// Fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,800');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');

$font-primary: 'Dosis', sans-serif;
$font-secondary: 'Crimson Text', serif;;

// Primary font
// Usage: @include dosis(400, $white, 2.4rem, 1.2rem);
@mixin dosis($font-weight:400, $font-color:"black", $font-size:2.4rem, $font-lineheight:inherit) {
  font-family: $font-primary;
  font-weight: $font-weight;
  color: $font-color;
  font-size: $font-size;
  line-height: $font-lineheight;
  transition: color $transition-speed linear;
}

// Secondary font
// Usage: @include dosis(400, $white, 2.4rem, 1.2rem);
@mixin crimson($font-weight:400, $font-color:"black", $font-size:2.4rem, $font-lineheight:inherit) {
  font-family: $font-secondary;
  font-weight: $font-weight;
  color: $font-color;
  font-size: $font-size;
  line-height: $font-lineheight;
  transition: color $transition-speed linear;
}


/* ************************************************************************ */
// Base Doc
/* ************************************************************************ */
/* Basic stylings */
html, body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Dosis', sans-serif;
}

h1 {
  @include dosis(400, var(--primary-color), var(--text-size-h1), var(--line-height-h1));
}

p {
  @include dosis(400, var(--primary-color), var(--text-size-body), var(--line-height-body));
}

// Links - Use the link color and roll over to the secondary color
a {
  color: var(--link-color);
	text-decoration: none;
  transition: opacity $transition-speed $transition-type;

	&:active, &:hover, &:focus {
      opacity: .75;
  }

	&:active, &:focus {
    outline: none;
    background-color: transparent;
  }
}

// Responsive images
.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


/* ************************************************************************ */
// Grid layout containers and unchanging elements
/* ************************************************************************ */
.grid-guidelines {
  position: fixed;
  display: grid;
  grid-column-gap: var(--base-side-margin);
  padding: 0 var(--base-side-margin);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  grid-template-columns: var(--grid-columns);
  grid-template-areas: ". . . . . . . . . ." !important;
  pointer-events: none;

  .grid-item--guide {
    background: rgba(0, 0, 0, .02);
    border-left: 1px dotted rgba(0, 0, 0, .1);
    border-right: 1px dotted rgba(0, 0, 0, .1);
    height: 100vh;
  }
}

// Main content grid areas
main, header, footer {
  display: grid;
  height: 100%;
  grid-column-gap: var(--base-side-margin);
  grid-row-gap: var(--base-side-margin);
  padding: var(--base-top-margin) var(--base-side-margin);
  -ms-grid-columns: var(--grid-columns);
  grid-template-columns: var(--grid-columns);
  align-content: start;
}


/* ----------------------- */
/* Header area */
/* ----------------------- */
// Top centered logo area - never changes location
.grid-item--logo {
  grid-column: 5 / span 2;
  background-color: rgba(60, 20, 120, .3);
}

/* ----------------------- */
/* Main */
/* ----------------------- */
// Left side bar mock navigation - never changes location
nav {
  grid-column: 1 / span 2;
  @include dosis(800, var(--primary-color), var(--text-size-nav), var(--line-height-nav));
  text-transform: uppercase;
  letter-spacing: 3px;
  grid-row: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

// Little vertical note thing under the navigation
aside {
  grid-column: 1 / span 2;
  grid-row: 1;
  @include dosis(800, var(--tertiary-color), var(--text-size-tiny), var(--line-height-tiny));
  writing-mode: vertical-rl;
  text-orientation: mixed;
  justify-self: start;
  align-self: start;
  transform: rotate(-180deg);
  margin-left: -4px;
  margin-top: 240px;

  span {
    display: inline-block;
    margin-top: var(--base-side-margin);
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}


/* ************************************************************************ */
// Variable layouts change to one of seven different spreads
/* ************************************************************************ */
// Main image
.grid-item--hero-poster {
  grid-column: 3 / span 6;
  grid-row: 1;
  overflow: hidden;
  max-height: 56vh;
}

// Main image
.grid-item--alternate-poster {
  grid-column: 1 / span 4;
  grid-row: 3;
  overflow: hidden;
  max-height: 400px;
  // This adds a negative margin to stick the image to the edge of the browser
  margin-left: calc(#{$neg} * #{var(--base-side-margin)});
}

// Main title
.grid-item--hero-title {
  grid-column: 3 / span 5;
  grid-row: 1;
  align-self: center;
  color: white;

  .headline {
    @include dosis(800, var(--primary-color), var(--text-size-display-1), var(--line-height-display-1));
    margin: 1rem 2rem 0 2rem;
  }

  button {
    padding: var(--base-top-margin) var(--base-side-margin);
    margin: 1rem 2rem 0 2rem;
  }
}

// Small side pull quote
.grid-item--pull-quote {
  grid-column: 9 / span 2;
  grid-row: 1;
  align-self: end;
  margin-bottom: 20px;

  &:before {
    display: block;
    content: open-quote;
    @include crimson(400, var(--secondary-color), 124px, 0);
    position: relative;
    text-align: center;
  }

  p {
    @include crimson(400, var(--primary-color), var(--text-size-pullquote), var(--line-height-pullquote));
    font-style: italic;

    &.author {
      font-size: var(--text-size-h6);
      text-align: right;
    }

  }
}

// Main paragraphs of body copy & text
article {
  background-color: rgba(30, 200, 120, .2);
}

.grid-item--article {
  grid-column: 3 / span 8;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--base-side-margin);

  h1 {
    margin-top: 5px;
  }

  div {
    background-color: rgba(80, 120, 100, .1);
  }
}

// Additional news-style excerpts
.grid-item--excerpts {
  grid-column: 5 / span 6;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--base-side-margin);

  h1 {
    margin-top: 5px;
  }

  div {
    background-color: rgba(80, 43, 200, .1);
  }
}

// Article credit portrait and link
.credits {
  .portrait {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0 0 1rem 0;
  }
  .name {
    @include dosis(800, var(--tertiary-color), var(--text-size-h6), var(--line-height-h6));
    text-transform: uppercase;
    letter-spacing: 1px;
    grid-row: 1;
  }
  .title {

  }
  .link {

  }
}

/* ----------------------- */
/* Footer */
/* ----------------------- */
.grid-item--footer-logo {
  grid-column: 1 / span 5;
  background-color: rgba(60, 20, 120, .3);
}

.grid-item--footer-social {
  grid-column: 6 / span 5;
  background-color: rgba(60, 20, 120, .3);
}
